html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.disable {
    pointer-events: none;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
*弹出窗口
*/
.lightbox .box {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width: 500px;
    margin: 2% auto;
    padding: 20px;
    background-color: #bcf5e2;
    box-shadow: 0px 1px 26px -3px #777777;
}

.lightbox .title {
    margin: 0;
    padding: 0 0 10px 0px;
    border-bottom: 1px #ccc solid;
    font-size: 22px;
}

.lightbox .content {
    display: block;
    padding: 10px 0 0 0px;
    font-size: 18px;
    line-height: 22px;
}

.lightbox .close {
    float: right;
    display: block;
    text-decoration: none;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #f13434;
}

.lightbox {
    /** Hide the lightbox */
    display: none;
    /** Apply basic lightbox styling */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #333333;
}

.gameStar {
    text-align: center;
    background-color: #1abc9c;
    padding: 15px 15px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 3.5px;
    text-decoration: none;
    font-weight: 100;
}

/*
 * 响应
 */

@media screen and (max-width: 800px) and (min-width: 450px){
    .container {
        width: 100%;
        height: 100%;
    }
    .deck {
        width: 80%;
        height: 80%;
        min-height: 80%;
    }
    .deck .card {
        width: 22%;
        height: 19%;
        margin: 5px;
    }
    h1 {
        font-size: 1.5em;
        margin-top: 100px;
    }
    .score-panel {
        width: 60%;
    }
    .deck .card.show {
        font-size: 2em;
    }
    .deck .card.match {
        font-size: 2em;
    }

}

@media screen and (max-width: 450px) {
    .container {
        width: 100%;
        height: 100%;
    }

    .score-panel {
        width: 60%;
    }

    .deck {
        width: 80%;
        height: 60%;
        min-height: 60%;
        padding: 15px;
    }
    .deck .card {
        width: 23%;
        height: 17%;
        margin: 1px;
        
    }
    .deck .card.show {
        font-size: 30px;
    }

    .deck .card.match {
        font-size: 1em;
    }
    h1 {
        font-size: 1em;
    }
}